<ion-header>
    <ion-toolbar>
      <ion-title>🚚 Bienvenido a Camioneros</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <h2>{{ mensaje }}</h2>
  
    <ion-list>
      <ion-item button routerLink="/reservas"><ion-label>Reservar Aparcamiento</ion-label></ion-item>
      <ion-item button routerLink="/contratos"><ion-label>Ver Contratos</ion-label></ion-item>
      <ion-item button routerLink="/amigos"><ion-label>Amigos</ion-label></ion-item>
    </ion-list>
  </ion-content>
  